*{
	padding: 0;
	margin: 0;
	text-decoration: none;

}
.row{
	margin-right: 0px !important;   
	margin-left: 0px !important;
	padding-left: 0px;
	padding-right: 0px; 
}
.white{
	color: white;
}
.font{
	font-family: 'Quicksand', sans-serif;
	font-size: 13px;
}
header{
	margin-top: 0;
}
header .barra-navegadora{
	height: 65px;
	background-color: black;	
}
header .div-left{
	display: flex;
}
header .logo{
	width: 138px;
    margin-top: 12px;
    margin-left: 24px;
}
header .top{
	margin-top: 10px;
}
header .div-links{
	margin-top: 24px;
    margin-left: 10px;
}
header .links{
	color: white;
	margin: 0px 8px;
	text-decoration: none;
}
header .div-right{
	display: inline-block;
}
header .align-div-right{
	margin-right: 20px;
	float: right;
	display: flex;
	position: relative;
}
header .line{
	width: 1px;
	background-color: white;
	margin-left: 15px;
	margin-top: 15px;
	height: 37px;
}
header .cart{
	margin-top: 24px;
	display: flex;
	margin-left: 15px;
}
header .div-other-links{
	margin-top: 24px;
}
header .line{
	color: white;
	width: 1px;
}
header .coin{
	color: gray;
	margin-right: 8px;
}
header .carrito{
	color: white;
	margin-top: 3px;
}
header .other-links{
	margin-right: 10px;
	color: white;
} 
header .servicios-dropdown{
	display: inline-block;
}
header .links:hover{
	text-decoration: none;
	color: gray;
}
header .other-links:hover{
	text-decoration: none;
	color: gray;
}
header .search-abajo{
	display: none;
	width: 100%;
	height: 40px;
	margin: 10px;
	background-color: black;
	display: none;
	position: absolute;
}
header search-lonk:hover .search-abajo {
	display: block;
}
.margin-top{
	margin-top: 65px;
}
main .without-padding{
	padding-left: 0px;
	padding-right: 0px;
}
main .bad-margin{
	margin-bottom: 0px;
}
footer{
	background-color: black;
}
footer .footer-p{
	color: white;
	margin-top: 40px;
	margin-left: 30px;
	font-size: 17px;
}
footer .align-maybe{
	margin-left: 30px;
	margin-bottom: 60px;
}
footer .block{
	display: block;
	color: white;
	margin-bottom: 7px;
	font-size: 11px;
}
footer .div-is-on-you{
	display: flex;
}
footer .is-on-you{
	margin: 0 auto;
}
footer .white-line{
	height: 10px;
	margin-top: 35px;
	background-color: white;
	width: 100%;
}
footer .div-white-line{
	padding-right: 0px;
	padding-left: 0px;
}
footer .preguntas-frecuentes{
	display: block;
}
footer .div-terms{
	display: flex;
}
footer .terms-align{
	margin: 0 auto;
	display: flex;
}
footer .terms{
	margin-right: 10px;
	margin-left: 10px;
	color: gray;
}
footer .font-size-terms{
	font-size: 10px;
}

/*Estos estilos son de preguntas*/

.col-centered{
    float: none;
    margin: 0 auto;
}
.padre-ayuda{
	background-color: black;
	display: flex;	
}
.ayuda-centrar{
	display: flex;
	margin: 0 auto;
}
.ayuda-1{
	background-color: white;
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 100px;
	padding-right: 0px !important;
}
.margin-auto-ayuda{
	margin: 0 auto;
}
.H-ayuda{
	text-align: center;
	margin-bottom: 30px;
	margin-top: 15px;
	font-weight: bold;
	background-color: white;
	color: gray;
	margin-left: 7px;
	border-radius: 10px;
}
.C-ayuda{
	background-color: gray;
	text-align: center;
	margin-bottom: 10px;
	background-color: gray;
	color: white;
	border-radius: 10px;
	
}
.hr-r { 
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color: gray;
    width: 70%;
}

.CC-ayuda{
	text-align: center;
	margin-bottom: 10px;
	margin-left: 7px;
	color: gray;
	border-radius: 10px;
}

/* Estos estilos hacen referencia a nosotros. */


.nosotros{
	background-image: url("../img/nosotros.jpg");
}

.producto{
	background-image: url("../img/productos.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.imagen{
	width: 80%;
}

.cert2{
	margin-top: 70px;
}

.seccion{
	height: 400px;
}

.nosotros p{
	color: white;
}
/* Estos estilos hacen referencia a el contacto. */
.cc-input-container{
	width: 90%;
	
	padding: 20px;
	margin-bottom: 20px;
}
.input-nombre{
	width: 100%;
	border-radius: 3px;
	border-style: none;
	height: 2vw;
	background-color: none;
	color: black;
}
.input-comentario{
	width: 100%;
	border-radius: 3px;
	border-style: none;
	height: 7vw;
	background-color: none;
	color: black;
}
.input-text{
	text-align: left;
	margin-left: 10px;
}

.boton-input{
	background-color: black !important;
	text-shadow: none !important;
	color: white !important;
	width: 100% !important;
	box-shadow: none !important;			/*esto es importante por que lee primero los estilos de bootstrap y no me reconoce los mios*/
	border-style: none !important;
	margin-top: 10px !important;
	height: 4vw !important;
	font-size: 30px !important;
}
.CC-ayuda{
	margin: 0 auto;
	margin-bottom: 10px;
	color: gray;
	border-radius: 10px;
}

/* Estos estilos hacen referencia a LAS POLITICAS DE PRIVACIDAD. */
.CP-ayuda{
	background-color: gray;
	text-align: left;
	margin-bottom: 20px;
	color: white;
	border-radius: 10px;
}
/* Estos estilos hacen referencia a LAS  devolucines. */


.texto-devoluciones{
	margin-left: 50px;
	margin-right: 50px;
	text-align: justify;
}
.texto-devoluciones-H{
	margin-left: 50px;
	margin-right: 50px;
	text-align: justify;
	margin-top: 30px;
	margin-bottom: 20px;
}
.texto-devoluciones-final{
	margin-left: 50px;
	margin-right: 50px;
	text-align: justify;
	margin-bottom: 50px;
}
.ul-a {
    list-style-position: inside;
   	margin-left: 70px;
	margin-right: 120px;
	text-align: justify;
}
/*estos estilos hacen referencia al html de ayuda*/
.boton{
	background-color: gray ;
	text-shadow: none ;
	color: white ;
	width: 30vw ;
	box-shadow: none ;
	border-style: none ;
	margin-top: 10px ;
	height: 10vw ;
	font-size: 2.5vw ;
}
.ayuda-1-1{
	background-color: white;
	border-radius: 10px;
	margin: auto;
	margin-top: 100px;
	padding-right: 0px !important;
	padding: 50px !important;
}
/*estos estilos hacen referencia al html de telefono*/
.texto-devoluciones-I{
	margin-left: 50px;
	margin-right: 50px;
	text-align: justify;
	margin-top: -10px;
}
.mapa-r{
	margin-top: 30px;
	margin-bottom: 40px;
}
/* Estos estilos son de los productos */

main .img-cvz{
	width: 200px;
	margin: auto;
}
main .productos{
	display: block;
}
main .div-descripcion{
	display: flex;
	margin-top: -60px;
	margin-bottom: 20px;
	margin-left: 10px;
}
main .div-imagen-producto{
	width: 100%;
	display: flex;
}
main .nombre-producto{
	margin: auto;
	font-size: 18px;
	color: black;
}
.nombre-producto:hover{
	text-decoration: none;
	color: gray;
}
.link-productos:hover{
	text-decoration: none;
}

/* Estos estilos pertenecen a las vistas del produco*/

.vista-producto{
	display: none;
}
.opacidad{
	opacity: .5;
	background-color: black;
	height: 100%;
	width: 100%;
}