*{
	padding: 0;
	margin: 0;
	text-decoration: none;
}
.row{
	margin-right: 0px !important;   
	margin-left: 0px;
}
body{
	background-image: ;
}
.font{
	font-family: 'Quicksand', sans-serif;
	font-size: 13px;
}
header{
	margin-top: 0;
}
header .barra-navegadora{
	height: 65px;
	background-color: black;	
}
header .div-left{
	display: flex;
}
header .logo{
	width: 138px;
    margin-top: 12px;
    margin-left: 24px;
}
header .top{
	margin-top: 10px;
}
header .div-links{
	margin-top: 24px;
    margin-left: 10px;
}
header .links{
	color: white;
	margin: 0px 8px;
	text-decoration: none;
}
header .div-right{
	display: inline-block;
}
header .align-div-right{
	margin-right: 20px;
	float: right;
	display: flex;
}
header .line{
	width: 1px;
	background-color: white;
	margin-left: 15px;
	margin-top: 15px;
}
header .cart{
	margin-top: 24px;
	display: flex;
	margin-left: 15px;
}
header .div-other-links{
	margin-top: 24px;
}
.line{
	color: white;
	width: 1px;
}
header .coin{
	color: gray;
	margin-right: 8px;
}
header .carrito{
	color: white;
	margin-top: 3px;
}
header .other-links{
	margin-right: 10px;
	color: white;
} 
main{
	margin-top: 45px;
}
main .without-padding{
	padding-left: 0px;
	padding-right: 0px;
}
footer{
	background-color: black;
}
footer .footer-p{
	color: white;
	margin-top: 40px;
	margin-left: 30px;
	font-size: 17px;
}
footer .align-maybe{
	margin-left: 30px;
	margin-bottom: 60px;
}
footer .block{
	display: block;
	color: white;
	margin-bottom: 7px;
	font-size: 11px;
}
footer .div-is-on-you{
	display: flex;
}
footer .is-on-you{
	margin: 0 auto;
}
footer .white-line{
	height: 20px;
	margin-top: 35px;
	background-color: white;
	width: 100%;
}
footer .div-white-line{
	padding-right: 0px;
	padding-left: 0px;
}
footer .div-terms{
	display: flex;
}
footer .terms-align{
	margin: 0 auto;
	display: flex;
}
footer .terms{
	margin-right: 10px;
	margin-left: 10px;
	color: gray;
}